main {
  width: 100%;
  padding: 0 10.4166666667vw;
}

.bf {
  font-weight: 600;
}

.f-size-24 {
  font-size: 1.5rem;
}

main .comments-container .header, main .roadmap .header, main .conditions-wall .header, main .about-insurance .header {
  font-size: 3rem;
  line-height: 3.5625rem;
  text-align: center;
}

main .comments-container .button-comments, main .main-board .text-container .button-buy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 4.6875rem;
  gap: 1.6875rem;
  border: 1px solid #4A607A;
  font-family: "SF Pro Display", sans-serif;
  box-shadow: 0 0.125rem 1.125rem rgba(41, 41, 41, 0.1);
  border-radius: 0.375rem;
  width: 16.5625rem;
  height: 3.6875rem;
  background-color: white;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

main .roadmap .tips .tips-container-2, main .roadmap .tips .tips-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: max-content;
  width: 17.1875vw;
  font-size: 0.875rem;
  line-height: 1.0625rem;
}
main .roadmap .tips .tips-container-2 .plain-text, main .roadmap .tips .tips-container-1 .plain-text {
  padding-bottom: 0.875rem;
}
main .roadmap .tips .tips-container-2 ul, main .roadmap .tips .tips-container-1 ul {
  padding-left: 1.5rem;
}
main .roadmap .tips .tips-container-2 li, main .roadmap .tips .tips-container-1 li {
  padding-left: 0.375rem;
  padding-bottom: 0.875rem;
}
main .roadmap .tips .tips-container-2 li:last-child, main .roadmap .tips .tips-container-1 li:last-child {
  padding-bottom: 0;
}
main .roadmap .tips .tips-container-2 a, main .roadmap .tips .tips-container-1 a {
  text-decoration: none;
  padding-bottom: 0.375rem;
  background: linear-gradient(#A89060, #A89060) no-repeat 0 100%;
  background-size: 100% 0.125rem;
  color: #A89060;
}

main {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
}
main .main-board {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.15), -2px -2px 5px rgba(20, 29, 61, 0.15);
  border-radius: 1.5625vw;
  margin-bottom: 4.375rem;
}
main .main-board .text-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  max-width: 60.6770833333vw;
  max-height: 46.2962962963vh;
  margin-left: 5.2083333333vw;
  margin-top: 6.5104166667vw;
  margin-bottom: 4.0625rem;
}
main .main-board .text-container h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.6875rem;
  color: #0D1C41;
  margin-bottom: 1.5rem;
}
main .main-board .text-container h1 span {
  font-weight: 600;
}
main .main-board .text-container p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #939CA6;
  margin-bottom: 5.75rem;
}
main .main-board .svg-container {
  display: flex;
  align-items: center;
  padding: 0.9375rem;
}
main .main-board .svg-container object {
  width: 100%;
}
main .about-insurance {
  display: flex;
  flex-direction: column;
  width: 50.2604166667vw;
  height: 29.8148148148vh;
  align-items: center;
  margin-bottom: 6.875rem;
}
main .about-insurance .header {
  margin-bottom: 4.6875rem;
}
main .about-insurance .elems-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
main .about-insurance .elems-list li {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  align-items: center;
  width: 8.59375vw;
  height: 17.5925925926vh;
  box-shadow: 0 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 1.0416666667vw;
  padding: 3.5185185185vh 0.2604166667vw 1.3888888889vh;
}
main .about-insurance .elems-list li object {
  max-width: 50%;
  max-height: 40%;
  margin-bottom: 1.4375rem;
}
main .about-insurance .elems-list li span {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-align: center;
  color: #0D1C41;
}
main .conditions-wall {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 65%;
  margin-bottom: 4.375rem;
}
main .conditions-wall .header {
  margin-bottom: 3.125rem;
}
main .conditions-wall .elems-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
main .conditions-wall .elems-list li {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
main .conditions-wall .elems-list li .svg-container {
  width: 50%;
}
main .conditions-wall .elems-list li .svg-container object {
  width: 80%;
}
main .conditions-wall .elems-list li .text-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  justify-content: center;
}
main .conditions-wall .elems-list li .text-container span {
  font-size: 4rem;
  line-height: 4.75rem;
}
main .conditions-wall .elems-list li .text-container p {
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: #0D1C41;
}
main .conditions-wall .elems-list li.item_2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: stretch;
}
main .conditions-wall .elems-list li.item_2 .text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}
main .conditions-wall .elems-list li.item_2 .text-container .best-doctor {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  margin-left: 0.3125rem;
  margin-bottom: 1.75rem;
  align-items: center;
}
main .conditions-wall .elems-list li.item_2 .text-container .best-doctor object {
  width: 90%;
}
main .conditions-wall .elems-list li.item_2 .text-container .best-doctor span {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.1875rem;
}
main .conditions-wall .elems-list li.item_2 .text-container p {
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: #0D1C41;
}
main .conditions-wall .elems-list li.item_2 .svg-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.9375rem;
}
main .conditions-wall .elems-list li.item_2 .svg-container object {
  width: 50%;
}
main .roadmap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 39.84375vw;
  margin-bottom: 8.75rem;
}
main .roadmap .header {
  margin-bottom: 2.8125rem;
}
main .roadmap .elems-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  gap: 1.875vw;
}
main .roadmap .elems-list li {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  align-items: center;
  width: 11.25rem;
  height: 11.25rem;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  border: 1px solid #4A607A;
  box-shadow: 0 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 1.0416666667vw;
  padding: 2.375rem 0.3125rem 0.9375rem;
}
main .roadmap .elems-list li .obj-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}
main .roadmap .elems-list li .obj-wrapper object {
  pointer-events: none;
  max-width: 4.6875vw;
  max-height: 6.4814814815vh;
  margin-bottom: 1.4375rem;
}
main .roadmap .elems-list li p {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-align: center;
  color: black;
}
main .roadmap .elems-list li:hover {
  border: 1px solid #DDD0A4;
  box-shadow: -2px 7px 18px -5px rgba(48, 45, 38, 0.3);
  border-radius: 1.0416666667vw;
  cursor: pointer;
}
main .roadmap .tips {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 5%;
  width: 100%;
  margin-top: 4.6296296296vh;
  padding: 1.5625rem 1.875rem 1.5625rem;
  box-shadow: 0 0.125rem 1.125rem rgba(41, 41, 41, 0.1);
  border-radius: 0.6770833333vw;
}
main .comments-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4.1666666667vh;
  align-items: center;
  margin-bottom: 10.5rem;
}
main .comments-container .header {
  margin-bottom: 3.125rem;
}

/*# sourceMappingURL=main_page.css.map */
